{% extends 'base.html.twig' %}

{% block title %}Public holidays{% endblock %}

{% block body %}

    <h1>Public holidays</h1>

    {{ form(public_holiday_form, {'action': path('public_holidays'),'method': 'GET'}) }}

{% endblock %}
